{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.css",
            "options": {
                "useTabs": true
            }
        }
    ]
}