{
    "serverAddress": "https://www.bsbsb.top",
    "testingServerAddress": "http://127.0.0.1:9876",
    "serverAddressComment": "This specifies the default SponsorBlock server to connect to",
    "categoryList": ["sponsor", "selfpromo", "exclusive_access", "interaction", "poi_highlight", "intro", "outro", "preview", "filler", "music_offtopic"],
    "categorySupport": {
        "sponsor": ["skip", "mute", "full"],
        "selfpromo": ["skip", "mute", "full"],
        "exclusive_access": ["full"],
        "interaction": ["skip", "mute"],
        "intro": ["skip", "mute"],
        "outro": ["skip", "mute"],
        "preview": ["skip", "mute"],
        "filler": ["skip", "mute"],
        "music_offtopic": ["skip"],
        "poi_highlight": ["poi"]
    },
    "wikiLinks": {
        "sponsor": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Sponsor",
        "selfpromo": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Unpaid%20Self%20Promotion",
        "exclusive_access": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Full%20Video%20Labels#%E6%9F%94%E6%80%A7%E6%8E%A8%E5%B9%BF%E5%93%81%E7%89%8C%E5%90%88%E4%BD%9C",
        "interaction": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Interaction%20Reminder%20(Subscribe)",
        "intro": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Intermission%20Intro%20Animation",
        "outro": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Endcards%20Credits%20(Outro)",
        "preview": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Preview%20Recap%20Hook",
        "filler": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Tangents%20Jokes",
        "music_offtopic": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Music%20Non-Music%20Section",
        "poi_highlight": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/HighLight",
        "guidelines": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Submitting%20tips",
        "mute": "https://github.com/hanydd/BilibiliSponsorBlock/wiki/Mute%20Segment"
    }
}
